body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, nav, main, footer {
    max-width: auto;
    margin: auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin: 0;
    width: 100%; /* Asegura que el header ocupe todo el ancho */
}


nav {
    background-color: #444;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}
.header-title h1 {
    margin: 0;
}


.featured-products {
    text-align: center;
}

.featured-products h2 {
    margin-bottom: 20px;
}

.product-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 200px;
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.product-card h3 {
    margin: 10px 0;
}

.product-card p {
    font-size: 18px;
    color: #333;
}

.product-card button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #218838;
}
